@import url(reset.css);

body {
    font-family: "Kumbh Sans", serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

/* header */


.header__inner {
    display: flex;
    align-items: center;
    border-bottom: 1px solid hsl(220, 14%, 75%);
    padding-top: 30px;
    padding-bottom: 40px;
    overflow: hidden;
}

.header__burger {
    padding-right: 20px;
    display: none;
}

.lists {
    display: flex;
    gap: 0 30px;
    padding-left: 50px;
}

.lists a {
    color: hsl(219, 9%, 45%);
    font-size: 16px;
    transition: all 0.3s ease;
    padding-bottom: 55px;
    position: relative;
}

.lists a:hover {
    color: hsl(220, 13%, 13%);
}

.lists a:hover::after {
    transform: translateY(0px);
}

.lists a::after {
    content: "";
    width: 100%;
    position: absolute;
    background-color: hsl(26, 100%, 55%);
    height: 5px;
    bottom: 0;
    left: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
}

.header__profile {
    margin-left: auto;
}

.header__profile {
    display: flex;
    align-items: center;
    gap: 0 50px;
    position: relative;
}

.cart__notices {
    display: none;
    font-size: 10px;
    border-radius: 20px;
    background-color: hsl(26, 100%, 55%);
    color: #fff;
    width: 20px;
    text-align: center;
    padding: 1px 0;
    position: absolute;
    font-weight: 700;
    top: 10px;
    left: 10px;
}

.header__user,
.header__goods {
    cursor: pointer;
}

.header__profile .header__user {
    max-width: 50px;
    height: 50px;
    border-radius: 100%;
}

.header__user:hover {
    border: 2px solid hsl(26, 100%, 55%);
}

.header__cart {
    display: none;
    background-color: #fff;
    position: absolute;
    width: 380px;
    border-radius: 5px;
    right: 280px;
    top: 90px;
    box-shadow: 0px 0px 20px hsla(220deg, 14%, 75%, 0.5);
    flex-direction: column;
}

.cart__inner {
    border-bottom: 1px solid hsl(220, 14%, 75%);
}

.cart__title {
    font-size: 20px;
    font-weight: 700;
    padding: 30px 20px;
}

.cart__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 15px;
    padding: 50px 0;
}

.cart__empty {
    text-align: center;
    font-size: 20px;
    color: hsl(219, 9%, 45%);
    font-weight: 700;
}

.cart__shoe {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
}

.cart__all {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    font-weight: 600;
    color: hsl(219, 9%, 45%);
}

.cart__all span {
    font-weight: 900;
    color: hsl(220, 13%, 13%);
}

.cart__delete {
    cursor: pointer;
}

/* main */

.main {
    margin-top: 100px;
    padding-bottom: 40px;
}

.main__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px
}

.main__img {
    max-width: 500px;
}

.shoe {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
}

.list__shoes {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.list__shoes img {
    width: 95px;
    border-radius: 20px;
    height: 95px;
    object-fit: cover;
    cursor: pointer;
}

.active__show {
    border: 2px solid hsl(26, 100%, 55%);
    opacity: 0.7;
}

.main__price {
    max-width: 500px;
}

.price__company {
    color: hsl(219, 9%, 45%);
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 2px;
}

.price__title {
    font-weight: 700;
    color: hsl(220, 13%, 13%);
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.price__paragraph {
    line-height: 1.7;
    color: hsl(219, 9%, 45%);
    font-size: 16px;
}

.price {
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.price__num {
    font-weight: 700;
    font-size: 25px;
    color: hsl(220, 13%, 13%);
}

.price__discount {
    padding: 5px 10px;
    font-weight: 700;
    color: #fff;
    background-color: hsl(220, 13%, 13%);
    border-radius: 5px;
}

.old__price {
    color: hsl(219, 9%, 45%);
    font-weight: 900;
    font-size: 12px;
    padding-top: 20px;
    text-decoration: line-through;
}

.price__cart {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 0 20px;

}

.price__add {
    display: flex;
    padding: 20px 30px;
    background-color: hsl(223, 64%, 98%);
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    justify-content: center;
    border-radius: 10px;
    gap: 0 40px;
}

.price__add .add__num {
    cursor: pointer;
}

.price__button {
    background-color: hsl(26, 100%, 55%);
    width: 100%;
    font-weight: 900;
    font-size: 18px;
    background-image: url('../images/icon-cart.svg');
    background-repeat: no-repeat;
    background-position: 80px center;
    padding-left: 30px;
    color: hsl(220, 13%, 13%);
    border-radius: 10px;
}

/* slider */

.slider {
    width: 500px;
    height: 450px;
    position: relative;
    overflow: hidden;
    display: none;
}

.slider-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    object-fit: cover;
    transition: opacity 0.5s ease;
}

.slider-img.active {
    opacity: 1;
}

.controlls {
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 10px;
    background-color: #fff;
    padding: 15px 17px;
    border-radius: 100%;
}

.next {
    right: 10px;
    padding-right: 15px;
}

.prev {
    left: 10px;
    padding-left: 15px;
    padding-right: 20px;
}



@media only screen and (max-width: 500px) {
    .header {
        padding: 0 20px;
    }

    .header__inner {
        padding-bottom: 20px;
        padding-top: 20px;
        border: none;
    }

    .header__burger {
        display: block;
        z-index: 8;
        position: relative;
    }

    .lists {
        display: none;
    }

    .lists.active__menu {
        display: flex;
        position: fixed;
        height: 100vh;
        background-color: #fff;
        box-shadow: 160px 0px 0px hsl(0deg 0% 0% / 43%);
        width: 70%;
        flex-direction: column;
        left: 0;
        top: 0;
        justify-content: center;
        z-index: 2;
        padding-left: 20px;
        gap: 30px 0;
        font-weight: 700;
        z-index: 7;
    }

    .lists a {
        color: hsl(220, 13%, 13%);
        font-size: 22px;
    }

    .lists a::after {
        content: none;
    }

    .header__profile {
        gap: 0 30px;
    }

    .header__profile .header__user {
        max-width: 30px;
        height: 30px;
    }

    .header__cart {
        border-radius: 5px;
        margin: 0 20px;
        right: 0;
        width: 100%;
        width: auto;
        z-index: 5;
        left: 0;
    }

    .container {
        padding: 0;
    }

    .main {
        margin-top: 10px;
    }

    .main__inner {
        flex-direction: column;
    }

    .main__img {
        display: none;
    }

    .slider {
        display: block;
    }

    .main__price {
        padding: 0 20px;
        padding-top: 30px;
    }

    .price__cart {
        flex-direction: column;
        gap: 20px 0;
    }

    .price__button {
        padding: 20px 0;
        padding-left: 30px;
        background-position: 130px center;
    }

    .next {
        right: 20px;
    }
    
    .prev {
        left: 20px;
    }
}